In [2]:
%matplotlib inline

import matplotlib
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [16]:
from datetime import datetime

In [29]:
data_df = pd.read_csv("./data/historical_data.csv")

In [28]:
def timedelta_str(str_a, str_b, formatter='%Y-%m-%d %H:%M:%S'):
    datetime1 = datetime.strptime(str_a, formatter)
    datetime2 = datetime.strptime(str_b, formatter)
    timedelta = datetime2 - datetime1
    return timedelta.seconds

In [30]:
datetime1 = datetime.strptime(data_df.iloc[0]['created_at'], '%Y-%m-%d %H:%M:%S')
datetime2 = datetime.strptime(data_df.iloc[0]['actual_delivery_time'], '%Y-%m-%d %H:%M:%S')
timedelta = datetime2 - datetime1

In [31]:
timedelta.seconds

3779

In [70]:
data_df

,market_id,created_at,actual_delivery_time,store_id,store_primary_category,order_protocol,total_items,subtotal,num_distinct_items,min_item_price,max_item_price,total_onshift_dashers,total_busy_dashers,total_outstanding_orders,estimated_order_place_duration,estimated_store_to_consumer_driving_duration
0,1.0,2015-02-06 22:24:17,2015-02-06 23:27:16,1845,american,1.0,4,3441,4,557,1239,33.0,14.0,21.0,446,861.0
1,2.0,2015-02-10 21:49:25,2015-02-10 22:56:29,5477,mexican,2.0,1,1900,1,1400,1400,1.0,2.0,2.0,446,690.0
2,3.0,2015-01-22 20:39:28,2015-01-22 21:09:09,5477,NaN,1.0,1,1900,1,1900,1900,1.0,0.0,0.0,446,690.0
3,3.0,2015-02-03 21:21:45,2015-02-03 22:13:00,5477,NaN,1.0,6,6900,5,600,1800,1.0,1.0,2.0,446,289.0
4,3.0,2015-02-15 02:40:36,2015-02-15 03:20:26,5477,NaN,1.0,3,3900,3,1100,1600,6.0,6.0,9.0,446,650.0
5,3.0,2015-01-28 20:30:38,2015-01-28 21:08:58,5477,NaN,1.0,3,5000,3,1500,1900,2.0,2.0,2.0,446,338.0
6,3.0,2015-01-31 02:16:36,2015-01-31 02:43:00,5477,NaN,1.0,2,3900,2,1200,2700,10.0,9.0,9.0,446,638.0
7,3.0,2015-02-12 03:03:35,2015-02-12 03:36:20,5477,NaN,1.0,4,4850,4,750,1800,7.0,8.0,7.0,446,626.0
8,2.0,2015-02-16 00:11:35,2015-02-16 00:38:01,5477,indian,3.0,4,4771,3,820,1604,8.0,6.0,18.0,446,289.0
9,3.0,2015-02-18 01:15:45,2015-02-18 02:08:57,5477,NaN,1.0,2,2100,2,700,1200,2.0,2.0,2.0,446,715.0
10,3.0,2015-02-02 19:22:53,2015-02-02 20:09:19,5477,NaN,4.0,4,4300,4,1200,1500,1.0,1.0,1.0,446,453.0
11,3.0,2015-02-16 04:19:33,2015-02-16 06:34:00,5477,NaN,1.0,2,2200,2,600,1600,3.0,3.0,4.0,446,642.0
12,3.0,2015-02-07 01:34:31,2015-02-07 02:17:14,5477,NaN,1.0,1,1900,1,1900,1900,6.0,3.0,3.0,446,690.0
13,3.0,2015-01-25 01:50:51,2015-01-25 02:28:53,5477,NaN,4.0,4,4986,4,699,2362,16.0,6.0,9.0,446,445.0
14,1.0,2015-02-12 03:36:46,2015-02-12 04:14:39,2841,italian,1.0,1,1525,1,1525,1525,5.0,6.0,8.0,446,795.0
15,1.0,2015-01-27 02:12:36,2015-01-27 03:02:24,2841,italian,1.0,2,3620,2,1425,2195,5.0,5.0,7.0,446,205.0
16,1.0,2015-02-06 00:42:42,2015-02-06 02:10:29,2841,italian,1.0,3,4475,3,925,1825,4.0,1.0,1.0,446,542.0
17,1.0,2015-02-08 02:04:17,2015-02-08 03:27:13,2841,italian,1.0,3,4375,3,1325,1625,6.0,4.0,3.0,446,789.0
18,1.0,2015-01-31 04:35:54,2015-01-31 05:47:30,2841,italian,1.0,2,3150,2,1425,1725,4.0,9.0,12.0,446,548.0
19,1.0,2015-01-31 02:21:23,2015-01-31 03:11:42,4139,mexican,1.0,2,950,2,150,700,24.0,24.0,26.0,446,212.0
20,1.0,2015-01-31 23:45:12,2015-02-01 00:14:05,4139,mexican,1.0,5,1285,3,150,400,12.0,13.0,11.0,446,424.0
21,1.0,2015-02-17 03:13:20,2015-02-17 04:00:31,5058,italian,1.0,4,5800,4,700,2000,19.0,19.0,30.0,446,344.0
22,1.0,2015-02-15 01:26:20,2015-02-15 02:16:07,5058,italian,1.0,2,2800,2,1200,1600,21.0,17.0,16.0,446,421.0
23,1.0,2015-02-02 05:27:49,2015-02-02 07:05:09,5058,italian,1.0,7,14900,5,1200,3900,8.0,11.0,11.0,446,901.0
24,1.0,2015-02-16 02:21:20,2015-02-16 03:54:14,5058,italian,1.0,3,3400,3,1400,2100,22.0,21.0,39.0,446,501.0
25,1.0,2015-02-13 01:01:58,2015-02-13 01:40:09,5058,italian,1.0,3,3800,3,700,1600,16.0,9.0,7.0,446,344.0
26,1.0,2015-01-24 02:01:20,2015-01-24 02:46:13,5058,italian,1.0,1,1800,1,1800,1800,27.0,25.0,24.0,446,424.0
27,1.0,2015-02-10 04:36:39,2015-02-10 05:20:37,5058,italian,1.0,4,5800,4,700,2000,13.0,16.0,27.0,446,344.0
28,1.0,2015-01-26 02:09:48,2015-01-26 02:47:22,5058,italian,1.0,3,3800,3,800,1800,21.0,18.0,20.0,446,530.0
29,1.0,2015-02-07 01:44:26,2015-02-07 02:48:06,5058,italian,1.0,1,1800,1,1800,1800,22.0,21.0,20.0,446,434.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197398,1.0,2015-02-18 02:56:01,2015-02-18 03:53:53,2956,fast,4.0,4,2274,4,345,675,55.0,52.0,66.0,251,574.0
197399,1.0,2015-02-09 22:05:33,2015-02-09 23:09:41,2956,fast,4.0,7,2863,4,329,505,16.0,16.0,15.0,251,901.0
197400,1.0,2015-02-06 19:35:47,2015-02-06 20:33:29,2956,fast,4.0,2,1401,2,691,755,37.0,27.0,39.0,251,690.0
197401,1.0,2015-02-02 21:48:55,2015-02-02 22:44:04,2956,fast,4.0,2,1049,2,300,669,23.0,26.0,37.0,251,546.0
197402,1.0,2015-01-28 03:15:02,2015-01-28 04:01:10,2956,fast,4.0,3,1940,3,339,499,48.0,48.0,55.0,251,531.0
197403,1.0,2015-02-05 21:12:07,2015-02-05 21:47:29,2956,fast,4.0,1,649,1,649,649,24.0,27.0,28.0,251,652.0
197404,1.0,2015-01-26 20:11:34,2015-01-26 20:55:36,2956,fast,4.0,4,1546,3,369,399,30.0,30.0,31.0,251,898.0
197405,1.0,2015-02-06 00:54:20,2015-02-06 01:52:32,2956,fast,4.0,7,3438,5,159,649,20.0,21.0,24.0,251,902.0
197406,1.0,2015-02-09 21:01:27,2015-02-09 21:38:08,2956,fast,4.0,1,649,1,649,649,26.0,19.0,21.0,251,652.0
197407,4.0,2015-01-27 04:55:25,2015-01-27 05:24:39,2956,seafood,5.0,2,1468,2,639,669,15.0,14.0,13.0,251,593.0
197408,1.0,2015-01-22 02:06:18,2015-01-22 02:49:17,2956,fast,4.0,6,2042,4,145,499,40.0,42.0,62.0,251,629.0
197409,1.0,2015-01-22 03:27:08,2015-01-22 04:03:18,2956,fast,4.0,1,719,1,639,639,53.0,39.0,42.0,251,628.0
197410,1.0,2015-02-09 20:32:27,2015-02-09 21:09:10,2956,fast,4.0,1,437,1,497,448,36.0,26.0,27.0,251,314.0
197411,1.0,2015-02-02 17:50:23,2015-02-02 18:12:57,2956,fast,4.0,2,1297,2,369,639,5.0,6.0,7.0,251,186.0
197412,1.0,2015-02-10 23:43:08,2015-02-11 00:47:24,2956,fast,4.0,1,674,1,345,345,10.0,11.0,12.0,251,706.0
197413,1.0,2015-01-24 01:33:11,2015-01-24 02:02:03,2956,fast,4.0,1,669,1,669,669,56.0,45.0,45.0,251,730.0
197414,1.0,2015-02-03 02:07:26,2015-02-03 04:22:00,2956,fast,4.0,5,2325,5,307,610,48.0,44.0,66.0,251,898.0
197415,1.0,2015-02-07 03:13:16,2015-02-07 04:29:49,2956,fast,4.0,3,1952,3,345,505,69.0,69.0,94.0,251,551.0
197416,1.0,2015-01-29 19:39:17,2015-01-29 20:34:21,2956,fast,4.0,1,639,1,639,639,26.0,26.0,37.0,251,NaN
197417,1.0,2015-01-29 01:41:57,2015-01-29 02:40:45,2956,fast,4.0,3,1398,3,200,639,38.0,38.0,49.0,251,899.0
197418,1.0,2015-01-30 20:50:23,2015-01-30 22:24:38,2956,fast,4.0,2,1528,2,639,729,26.0,29.0,34.0,251,791.0
197419,1.0,2015-01-26 21:25:12,2015-01-26 22:21:22,2956,fast,4.0,1,809,1,729,729,20.0,18.0,18.0,251,818.0
197420,2.0,2015-02-18 02:16:04,2015-02-18 03:12:36,2956,indian,3.0,3,2352,3,499,685,49.0,49.0,65.0,251,560.0
197421,1.0,2015-01-30 03:35:01,2015-01-30 04:42:19,2956,fast,4.0,2,979,2,145,339,NaN,NaN,NaN,251,614.0
197422,1.0,2015-01-31 19:48:15,2015-01-31 20:27:39,2956,fast,4.0,7,2445,3,145,585,23.0,24.0,24.0,251,608.0
197423,1.0,2015-02-17 00:19:41,2015-02-17 01:24:48,2956,fast,4.0,3,1389,3,345,649,17.0,17.0,23.0,251,331.0
197424,1.0,2015-02-13 00:01:59,2015-02-13 00:58:22,2956,fast,4.0,6,3010,4,405,825,12.0,11.0,14.0,251,915.0
197425,1.0,2015-01-24 04:46:08,2015-01-24 05:36:16,2956,fast,4.0,5,1836,3,300,399,39.0,41.0,40.0,251,795.0
197426,1.0,2015-02-01 18:18:15,2015-02-01 19:23:22,3630,sandwich,1.0,1,1175,1,535,535,7.0,7.0,12.0,446,384.0
197427,1.0,2015-02-08 19:24:33,2015-02-08 20:01:41,3630,sandwich,1.0,4,2605,4,425,750,20.0,20.0,23.0,446,134.0

In [55]:
data_df.iloc[2]['store_primary_category'] == np.nan

False

In [38]:
data_df.isnull().any()

market_id                                        True
created_at                                      False
actual_delivery_time                             True
store_id                                        False
store_primary_category                           True
order_protocol                                   True
total_items                                     False
subtotal                                        False
num_distinct_items                              False
min_item_price                                  False
max_item_price                                  False
total_onshift_dashers                            True
total_busy_dashers                               True
total_outstanding_orders                         True
estimated_order_place_duration                  False
estimated_store_to_consumer_driving_duration     True
dtype: bool

In [41]:
data_df.isnull().sum() / 197428.0 * 100

market_id                                       0.499929
created_at                                      0.000000
actual_delivery_time                            0.003546
store_id                                        0.000000
store_primary_category                          2.411006
order_protocol                                  0.503981
total_items                                     0.000000
subtotal                                        0.000000
num_distinct_items                              0.000000
min_item_price                                  0.000000
max_item_price                                  0.000000
total_onshift_dashers                           8.236927
total_busy_dashers                              8.236927
total_outstanding_orders                        8.236927
estimated_order_place_duration                  0.000000
estimated_store_to_consumer_driving_duration    0.266426
dtype: float64

### some insights
* we can drop column `actual_delivery_time`, `estimated_store_to_consumer_driving_duration`, remove should be fine
* columns `total_onshift_dashers`, `total_busy_dashers`, `total_outstanding_orders` have same ratio of nan, maybe they are nan at same rows. And the ratio is quite high, maybe not so good to just remove
* for `market_id`, `order_protocol`, `store_primary_category` should be fine to just consider as nan and one-hot encoding

following code is use to prove

```python
columns = ['total_onshift_dashers', 'total_busy_dashers', 'total_outstanding_orders']
mask = True
for col in columns:
    mask &= data_df[col].isnull()
data_df[mask]
```

So for preprocessing, we do following simple approach
* remove rows with nan in columns `actual_delivery_time`, `estimated_store_to_consumer_driving_duration`
* consider categorical nan as a new category in `market_id`, `order_protocol`, `store_primary_category` and calculate one-hot coding
* in columns `total_onshift_dashers`, `total_busy_dashers`, `total_outstanding_orders`, it will depends on the model we use. we might also derive some new features from this, such as percentage

In [97]:
# remove those with on actual_delivery_time
new_df = data_df.dropna(subset=['actual_delivery_time', 'estimated_store_to_consumer_driving_duration'])
new_df

,market_id,created_at,actual_delivery_time,store_id,store_primary_category,order_protocol,total_items,subtotal,num_distinct_items,min_item_price,max_item_price,total_onshift_dashers,total_busy_dashers,total_outstanding_orders,estimated_order_place_duration,estimated_store_to_consumer_driving_duration
0,1.0,2015-02-06 22:24:17,2015-02-06 23:27:16,1845,american,1.0,4,3441,4,557,1239,33.0,14.0,21.0,446,861.0
1,2.0,2015-02-10 21:49:25,2015-02-10 22:56:29,5477,mexican,2.0,1,1900,1,1400,1400,1.0,2.0,2.0,446,690.0
2,3.0,2015-01-22 20:39:28,2015-01-22 21:09:09,5477,NaN,1.0,1,1900,1,1900,1900,1.0,0.0,0.0,446,690.0
3,3.0,2015-02-03 21:21:45,2015-02-03 22:13:00,5477,NaN,1.0,6,6900,5,600,1800,1.0,1.0,2.0,446,289.0
4,3.0,2015-02-15 02:40:36,2015-02-15 03:20:26,5477,NaN,1.0,3,3900,3,1100,1600,6.0,6.0,9.0,446,650.0
5,3.0,2015-01-28 20:30:38,2015-01-28 21:08:58,5477,NaN,1.0,3,5000,3,1500,1900,2.0,2.0,2.0,446,338.0
6,3.0,2015-01-31 02:16:36,2015-01-31 02:43:00,5477,NaN,1.0,2,3900,2,1200,2700,10.0,9.0,9.0,446,638.0
7,3.0,2015-02-12 03:03:35,2015-02-12 03:36:20,5477,NaN,1.0,4,4850,4,750,1800,7.0,8.0,7.0,446,626.0
8,2.0,2015-02-16 00:11:35,2015-02-16 00:38:01,5477,indian,3.0,4,4771,3,820,1604,8.0,6.0,18.0,446,289.0
9,3.0,2015-02-18 01:15:45,2015-02-18 02:08:57,5477,NaN,1.0,2,2100,2,700,1200,2.0,2.0,2.0,446,715.0
10,3.0,2015-02-02 19:22:53,2015-02-02 20:09:19,5477,NaN,4.0,4,4300,4,1200,1500,1.0,1.0,1.0,446,453.0
11,3.0,2015-02-16 04:19:33,2015-02-16 06:34:00,5477,NaN,1.0,2,2200,2,600,1600,3.0,3.0,4.0,446,642.0
12,3.0,2015-02-07 01:34:31,2015-02-07 02:17:14,5477,NaN,1.0,1,1900,1,1900,1900,6.0,3.0,3.0,446,690.0
13,3.0,2015-01-25 01:50:51,2015-01-25 02:28:53,5477,NaN,4.0,4,4986,4,699,2362,16.0,6.0,9.0,446,445.0
14,1.0,2015-02-12 03:36:46,2015-02-12 04:14:39,2841,italian,1.0,1,1525,1,1525,1525,5.0,6.0,8.0,446,795.0
15,1.0,2015-01-27 02:12:36,2015-01-27 03:02:24,2841,italian,1.0,2,3620,2,1425,2195,5.0,5.0,7.0,446,205.0
16,1.0,2015-02-06 00:42:42,2015-02-06 02:10:29,2841,italian,1.0,3,4475,3,925,1825,4.0,1.0,1.0,446,542.0
17,1.0,2015-02-08 02:04:17,2015-02-08 03:27:13,2841,italian,1.0,3,4375,3,1325,1625,6.0,4.0,3.0,446,789.0
18,1.0,2015-01-31 04:35:54,2015-01-31 05:47:30,2841,italian,1.0,2,3150,2,1425,1725,4.0,9.0,12.0,446,548.0
19,1.0,2015-01-31 02:21:23,2015-01-31 03:11:42,4139,mexican,1.0,2,950,2,150,700,24.0,24.0,26.0,446,212.0
20,1.0,2015-01-31 23:45:12,2015-02-01 00:14:05,4139,mexican,1.0,5,1285,3,150,400,12.0,13.0,11.0,446,424.0
21,1.0,2015-02-17 03:13:20,2015-02-17 04:00:31,5058,italian,1.0,4,5800,4,700,2000,19.0,19.0,30.0,446,344.0
22,1.0,2015-02-15 01:26:20,2015-02-15 02:16:07,5058,italian,1.0,2,2800,2,1200,1600,21.0,17.0,16.0,446,421.0
23,1.0,2015-02-02 05:27:49,2015-02-02 07:05:09,5058,italian,1.0,7,14900,5,1200,3900,8.0,11.0,11.0,446,901.0
24,1.0,2015-02-16 02:21:20,2015-02-16 03:54:14,5058,italian,1.0,3,3400,3,1400,2100,22.0,21.0,39.0,446,501.0
25,1.0,2015-02-13 01:01:58,2015-02-13 01:40:09,5058,italian,1.0,3,3800,3,700,1600,16.0,9.0,7.0,446,344.0
26,1.0,2015-01-24 02:01:20,2015-01-24 02:46:13,5058,italian,1.0,1,1800,1,1800,1800,27.0,25.0,24.0,446,424.0
27,1.0,2015-02-10 04:36:39,2015-02-10 05:20:37,5058,italian,1.0,4,5800,4,700,2000,13.0,16.0,27.0,446,344.0
28,1.0,2015-01-26 02:09:48,2015-01-26 02:47:22,5058,italian,1.0,3,3800,3,800,1800,21.0,18.0,20.0,446,530.0
29,1.0,2015-02-07 01:44:26,2015-02-07 02:48:06,5058,italian,1.0,1,1800,1,1800,1800,22.0,21.0,20.0,446,434.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197397,1.0,2015-02-13 21:07:10,2015-02-13 21:48:05,2956,fast,4.0,2,1618,1,649,649,27.0,25.0,25.0,251,454.0
197398,1.0,2015-02-18 02:56:01,2015-02-18 03:53:53,2956,fast,4.0,4,2274,4,345,675,55.0,52.0,66.0,251,574.0
197399,1.0,2015-02-09 22:05:33,2015-02-09 23:09:41,2956,fast,4.0,7,2863,4,329,505,16.0,16.0,15.0,251,901.0
197400,1.0,2015-02-06 19:35:47,2015-02-06 20:33:29,2956,fast,4.0,2,1401,2,691,755,37.0,27.0,39.0,251,690.0
197401,1.0,2015-02-02 21:48:55,2015-02-02 22:44:04,2956,fast,4.0,2,1049,2,300,669,23.0,26.0,37.0,251,546.0
197402,1.0,2015-01-28 03:15:02,2015-01-28 04:01:10,2956,fast,4.0,3,1940,3,339,499,48.0,48.0,55.0,251,531.0
197403,1.0,2015-02-05 21:12:07,2015-02-05 21:47:29,2956,fast,4.0,1,649,1,649,649,24.0,27.0,28.0,251,652.0
197404,1.0,2015-01-26 20:11:34,2015-01-26 20:55:36,2956,fast,4.0,4,1546,3,369,399,30.0,30.0,31.0,251,898.0
197405,1.0,2015-02-06 00:54:20,2015-02-06 01:52:32,2956,fast,4.0,7,3438,5,159,649,20.0,21.0,24.0,251,902.0
197406,1.0,2015-02-09 21:01:27,2015-02-09 21:38:08,2956,fast,4.0,1,649,1,649,649,26.0,19.0,21.0,251,652.0
197407,4.0,2015-01-27 04:55:25,2015-01-27 05:24:39,2956,seafood,5.0,2,1468,2,639,669,15.0,14.0,13.0,251,593.0
197408,1.0,2015-01-22 02:06:18,2015-01-22 02:49:17,2956,fast,4.0,6,2042,4,145,499,40.0,42.0,62.0,251,629.0
197409,1.0,2015-01-22 03:27:08,2015-01-22 04:03:18,2956,fast,4.0,1,719,1,639,639,53.0,39.0,42.0,251,628.0
197410,1.0,2015-02-09 20:32:27,2015-02-09 21:09:10,2956,fast,4.0,1,437,1,497,448,36.0,26.0,27.0,251,314.0
197411,1.0,2015-02-02 17:50:23,2015-02-02 18:12:57,2956,fast,4.0,2,1297,2,369,639,5.0,6.0,7.0,251,186.0
197412,1.0,2015-02-10 23:43:08,2015-02-11 00:47:24,2956,fast,4.0,1,674,1,345,345,10.0,11.0,12.0,251,706.0
197413,1.0,2015-01-24 01:33:11,2015-01-24 02:02:03,2956,fast,4.0,1,669,1,669,669,56.0,45.0,45.0,251,730.0
197414,1.0,2015-02-03 02:07:26,2015-02-03 04:22:00,2956,fast,4.0,5,2325,5,307,610,48.0,44.0,66.0,251,898.0
197415,1.0,2015-02-07 03:13:16,2015-02-07 04:29:49,2956,fast,4.0,3,1952,3,345,505,69.0,69.0,94.0,251,551.0
197417,1.0,2015-01-29 01:41:57,2015-01-29 02:40:45,2956,fast,4.0,3,1398,3,200,639,38.0,38.0,49.0,251,899.0
197418,1.0,2015-01-30 20:50:23,2015-01-30 22:24:38,2956,fast,4.0,2,1528,2,639,729,26.0,29.0,34.0,251,791.0
197419,1.0,2015-01-26 21:25:12,2015-01-26 22:21:22,2956,fast,4.0,1,809,1,729,729,20.0,18.0,18.0,251,818.0
197420,2.0,2015-02-18 02:16:04,2015-02-18 03:12:36,2956,indian,3.0,3,2352,3,499,685,49.0,49.0,65.0,251,560.0
197421,1.0,2015-01-30 03:35:01,2015-01-30 04:42:19,2956,fast,4.0,2,979,2,145,339,NaN,NaN,NaN,251,614.0
197422,1.0,2015-01-31 19:48:15,2015-01-31 20:27:39,2956,fast,4.0,7,2445,3,145,585,23.0,24.0,24.0,251,608.0
197423,1.0,2015-02-17 00:19:41,2015-02-17 01:24:48,2956,fast,4.0,3,1389,3,345,649,17.0,17.0,23.0,251,331.0
197424,1.0,2015-02-13 00:01:59,2015-02-13 00:58:22,2956,fast,4.0,6,3010,4,405,825,12.0,11.0,14.0,251,915.0
197425,1.0,2015-01-24 04:46:08,2015-01-24 05:36:16,2956,fast,4.0,5,1836,3,300,399,39.0,41.0,40.0,251,795.0
197426,1.0,2015-02-01 18:18:15,2015-02-01 19:23:22,3630,sandwich,1.0,1,1175,1,535,535,7.0,7.0,12.0,446,384.0
197427,1.0,2015-02-08 19:24:33,2015-02-08 20:01:41,3630,sandwich,1.0,4,2605,4,425,750,20.0,20.0,23.0,446,134.0

In [98]:
new_df['total_seconds'] = new_df.apply(lambda x: timedelta_str(x['created_at'], x['actual_delivery_time']), axis=1)

/Users/wubai.zhou/Uber/ipython/DoorDash/env/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [99]:
new_df

,market_id,created_at,actual_delivery_time,store_id,store_primary_category,order_protocol,total_items,subtotal,num_distinct_items,min_item_price,max_item_price,total_onshift_dashers,total_busy_dashers,total_outstanding_orders,estimated_order_place_duration,estimated_store_to_consumer_driving_duration,total_seconds
0,1.0,2015-02-06 22:24:17,2015-02-06 23:27:16,1845,american,1.0,4,3441,4,557,1239,33.0,14.0,21.0,446,861.0,3779
1,2.0,2015-02-10 21:49:25,2015-02-10 22:56:29,5477,mexican,2.0,1,1900,1,1400,1400,1.0,2.0,2.0,446,690.0,4024
2,3.0,2015-01-22 20:39:28,2015-01-22 21:09:09,5477,NaN,1.0,1,1900,1,1900,1900,1.0,0.0,0.0,446,690.0,1781
3,3.0,2015-02-03 21:21:45,2015-02-03 22:13:00,5477,NaN,1.0,6,6900,5,600,1800,1.0,1.0,2.0,446,289.0,3075
4,3.0,2015-02-15 02:40:36,2015-02-15 03:20:26,5477,NaN,1.0,3,3900,3,1100,1600,6.0,6.0,9.0,446,650.0,2390
5,3.0,2015-01-28 20:30:38,2015-01-28 21:08:58,5477,NaN,1.0,3,5000,3,1500,1900,2.0,2.0,2.0,446,338.0,2300
6,3.0,2015-01-31 02:16:36,2015-01-31 02:43:00,5477,NaN,1.0,2,3900,2,1200,2700,10.0,9.0,9.0,446,638.0,1584
7,3.0,2015-02-12 03:03:35,2015-02-12 03:36:20,5477,NaN,1.0,4,4850,4,750,1800,7.0,8.0,7.0,446,626.0,1965
8,2.0,2015-02-16 00:11:35,2015-02-16 00:38:01,5477,indian,3.0,4,4771,3,820,1604,8.0,6.0,18.0,446,289.0,1586
9,3.0,2015-02-18 01:15:45,2015-02-18 02:08:57,5477,NaN,1.0,2,2100,2,700,1200,2.0,2.0,2.0,446,715.0,3192
10,3.0,2015-02-02 19:22:53,2015-02-02 20:09:19,5477,NaN,4.0,4,4300,4,1200,1500,1.0,1.0,1.0,446,453.0,2786
11,3.0,2015-02-16 04:19:33,2015-02-16 06:34:00,5477,NaN,1.0,2,2200,2,600,1600,3.0,3.0,4.0,446,642.0,8067
12,3.0,2015-02-07 01:34:31,2015-02-07 02:17:14,5477,NaN,1.0,1,1900,1,1900,1900,6.0,3.0,3.0,446,690.0,2563
13,3.0,2015-01-25 01:50:51,2015-01-25 02:28:53,5477,NaN,4.0,4,4986,4,699,2362,16.0,6.0,9.0,446,445.0,2282
14,1.0,2015-02-12 03:36:46,2015-02-12 04:14:39,2841,italian,1.0,1,1525,1,1525,1525,5.0,6.0,8.0,446,795.0,2273
15,1.0,2015-01-27 02:12:36,2015-01-27 03:02:24,2841,italian,1.0,2,3620,2,1425,2195,5.0,5.0,7.0,446,205.0,2988
16,1.0,2015-02-06 00:42:42,2015-02-06 02:10:29,2841,italian,1.0,3,4475,3,925,1825,4.0,1.0,1.0,446,542.0,5267
17,1.0,2015-02-08 02:04:17,2015-02-08 03:27:13,2841,italian,1.0,3,4375,3,1325,1625,6.0,4.0,3.0,446,789.0,4976
18,1.0,2015-01-31 04:35:54,2015-01-31 05:47:30,2841,italian,1.0,2,3150,2,1425,1725,4.0,9.0,12.0,446,548.0,4296
19,1.0,2015-01-31 02:21:23,2015-01-31 03:11:42,4139,mexican,1.0,2,950,2,150,700,24.0,24.0,26.0,446,212.0,3019
20,1.0,2015-01-31 23:45:12,2015-02-01 00:14:05,4139,mexican,1.0,5,1285,3,150,400,12.0,13.0,11.0,446,424.0,1733
21,1.0,2015-02-17 03:13:20,2015-02-17 04:00:31,5058,italian,1.0,4,5800,4,700,2000,19.0,19.0,30.0,446,344.0,2831
22,1.0,2015-02-15 01:26:20,2015-02-15 02:16:07,5058,italian,1.0,2,2800,2,1200,1600,21.0,17.0,16.0,446,421.0,2987
23,1.0,2015-02-02 05:27:49,2015-02-02 07:05:09,5058,italian,1.0,7,14900,5,1200,3900,8.0,11.0,11.0,446,901.0,5840
24,1.0,2015-02-16 02:21:20,2015-02-16 03:54:14,5058,italian,1.0,3,3400,3,1400,2100,22.0,21.0,39.0,446,501.0,5574
25,1.0,2015-02-13 01:01:58,2015-02-13 01:40:09,5058,italian,1.0,3,3800,3,700,1600,16.0,9.0,7.0,446,344.0,2291
26,1.0,2015-01-24 02:01:20,2015-01-24 02:46:13,5058,italian,1.0,1,1800,1,1800,1800,27.0,25.0,24.0,446,424.0,2693
27,1.0,2015-02-10 04:36:39,2015-02-10 05:20:37,5058,italian,1.0,4,5800,4,700,2000,13.0,16.0,27.0,446,344.0,2638
28,1.0,2015-01-26 02:09:48,2015-01-26 02:47:22,5058,italian,1.0,3,3800,3,800,1800,21.0,18.0,20.0,446,530.0,2254
29,1.0,2015-02-07 01:44:26,2015-02-07 02:48:06,5058,italian,1.0,1,1800,1,1800,1800,22.0,21.0,20.0,446,434.0,3820
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197397,1.0,2015-02-13 21:07:10,2015-02-13 21:48:05,2956,fast,4.0,2,1618,1,649,649,27.0,25.0,25.0,251,454.0,2455
197398,1.0,2015-02-18 02:56:01,2015-02-18 03:53:53,2956,fast,4.0,4,2274,4,345,675,55.0,52.0,66.0,251,574.0,3472
197399,1.0,2015-02-09 22:05:33,2015-02-09 23:09:41,2956,fast,4.0,7,2863,4,329,505,16.0,16.0,15.0,251,901.0,3848
197400,1.0,2015-02-06 19:35:47,2015-02-06 20:33:29,2956,fast,4.0,2,1401,2,691,755,37.0,27.0,39.0,251,690.0,3462
197401,1.0,2015-02-02 21:48:55,2015-02-02 22:44:04,2956,fast,4.0,2,1049,2,300,669,23.0,26.0,37.0,251,546.0,3309
197402,1.0,2015-01-28 03:15:02,2015-01-28 04:01:10,2956,fast,4.0,3,1940,3,339,499,48.0,48.0,55.0,251,531.0,2768
197403,1.0,2015-02-05 21:12:07,2015-02-05 21:47:29,2956,fast,4.0,1,649,1,649,649,24.0,27.0,28.0,251,652.0,2122
197404,1.0,2015-01-26 20:11:34,2015-01-26 20:55:36,2956,fast,4.0,4,1546,3,369,399,30.0,30.0,31.0,251,898.0,2642
197405,1.0,2015-02-06 00:54:20,2015-02-06 01:52:32,2956,fast,4.0,7,3438,5,159,649,20.0,21.0,24.0,251,902.0,3492
197406,1.0,2015-02-09 21:01:27,2015-02-09 21:38:08,2956,fast,4.0,1,649,1,649,649,26.0,19.0,21.0,251,652.0,2201
197407,4.0,2015-01-27 04:55:25,2015-01-27 05:24:39,2956,seafood,5.0,2,1468,2,639,669,15.0,14.0,13.0,251,593.0,1754
197408,1.0,2015-01-22 02:06:18,2015-01-22 02:49:17,2956,fast,4.0,6,2042,4,145,499,40.0,42.0,62.0,251,629.0,2579
197409,1.0,2015-01-22 03:27:08,2015-01-22 04:03:18,2956,fast,4.0,1,719,1,639,639,53.0,39.0,42.0,251,628.0,2170
197410,1.0,2015-02-09 20:32:27,2015-02-09 21:09:10,2956,fast,4.0,1,437,1,497,448,36.0,26.0,27.0,251,314.0,2203
197411,1.0,2015-02-02 17:50:23,2015-02-02 18:12:57,2956,fast,4.0,2,1297,2,369,639,5.0,6.0,7.0,251,186.0,1354
197412,1.0,2015-02-10 23:43:08,2015-02-11 00:47:24,2956,fast,4.0,1,674,1,345,345,10.0,11.0,12.0,251,706.0,3856
197413,1.0,2015-01-24 01:33:11,2015-01-24 02:02:03,2956,fast,4.0,1,669,1,669,669,56.0,45.0,45.0,251,730.0,1732
197414,1.0,2015-02-03 02:07:26,2015-02-03 04:22:00,2956,fast,4.0,5,2325,5,307,610,48.0,44.0,66.0,251,898.0,8074
197415,1.0,2015-02-07 03:13:16,2015-02-07 04:29:49,2956,fast,4.0,3,1952,3,345,505,69.0,69.0,94.0,251,551.0,4593
197417,1.0,2015-01-29 01:41:57,2015-01-29 02:40:45,2956,fast,4.0,3,1398,3,200,639,38.0,38.0,49.0,251,899.0,3528
197418,1.0,2015-01-30 20:50:23,2015-01-30 22:24:38,2956,fast,4.0,2,1528,2,639,729,26.0,29.0,34.0,251,791.0,5655
197419,1.0,2015-01-26 21:25:12,2015-01-26 22:21:22,2956,fast,4.0,1,809,1,729,729,20.0,18.0,18.0,251,818.0,3370
197420,2.0,2015-02-18 02:16:04,2015-02-18 03:12:36,2956,indian,3.0,3,2352,3,499,685,49.0,49.0,65.0,251,560.0,3392
197421,1.0,2015-01-30 03:35:01,2015-01-30 04:42:19,2956,fast,4.0,2,979,2,145,339,NaN,NaN,NaN,251,614.0,4038
197422,1.0,2015-01-31 19:48:15,2015-01-31 20:27:39,2956,fast,4.0,7,2445,3,145,585,23.0,24.0,24.0,251,608.0,2364
197423,1.0,2015-02-17 00:19:41,2015-02-17 01:24:48,2956,fast,4.0,3,1389,3,345,649,17.0,17.0,23.0,251,331.0,3907
197424,1.0,2015-02-13 00:01:59,2015-02-13 00:58:22,2956,fast,4.0,6,3010,4,405,825,12.0,11.0,14.0,251,915.0,3383
197425,1.0,2015-01-24 04:46:08,2015-01-24 05:36:16,2956,fast,4.0,5,1836,3,300,399,39.0,41.0,40.0,251,795.0,3008
197426,1.0,2015-02-01 18:18:15,2015-02-01 19:23:22,3630,sandwich,1.0,1,1175,1,535,535,7.0,7.0,12.0,446,384.0,3907
197427,1.0,2015-02-08 19:24:33,2015-02-08 20:01:41,3630,sandwich,1.0,4,2605,4,425,750,20.0,20.0,23.0,446,134.0,2228

In [100]:
# check unique value for categorical columns
category_columns = ["market_id", "store_id", 'store_primary_category', 'order_protocol']
unique_value = {}
for col in category_columns:
    unique_value[col] = new_df[col].unique()
unique_value

{'market_id': array([ 1.,  2.,  3.,  4., nan,  5.,  6.]),
 'order_protocol': array([ 1.,  2.,  3.,  4., nan,  5.,  6.,  7.]),
 'store_id': array([1845, 5477, 2841, ...,  215, 2956, 3630]),
 'store_primary_category': array(['american', 'mexican', nan, 'indian', 'italian', 'sandwich',
        'thai', 'cafe', 'salad', 'pizza', 'chinese', 'singaporean',
        'burger', 'breakfast', 'mediterranean', 'japanese', 'greek',
        'catering', 'filipino', 'convenience-store', 'other', 'korean',
        'vegan', 'asian', 'barbecue', 'fast', 'dessert', 'smoothie',
        'seafood', 'vietnamese', 'cajun', 'steak', 'middle-eastern',
        'soup', 'vegetarian', 'persian', 'nepalese', 'sushi',
        'latin-american', 'hawaiian', 'chocolate', 'burmese', 'british',
        'pasta', 'alcohol', 'dim-sum', 'peruvian', 'turkish', 'malaysian',
        'ethiopian', 'afghan', 'bubble-tea', 'german', 'french',
        'caribbean', 'gluten-free', 'comfort-food', 'gastropub',
        'pakistani', 'moroccan', 'spanish', 'southern', 'tapas', 'russian',
        'brazilian', 'european', 'cheese', 'african', 'argentine',
        'kosher', 'irish', 'lebanese', 'belgian', 'indonesian',
        'alcohol-plus-food'], dtype=object)}

In [101]:
unique_num = {}
for col in unique_value:
    unique_num[col] = len(unique_value[col])
unique_num

{'market_id': 7,
 'order_protocol': 8,
 'store_id': 6742,
 'store_primary_category': 75}

In [102]:
for col in category_columns:
    new_df[col].fillna('NaN', inplace=True)

In [103]:
one_hot_df = new_df.copy()
for col in category_columns:
    one_hot_df = pd.concat([one_hot_df, pd.get_dummies(new_df[col], prefix=col)], axis=1)
one_hot_df.drop(columns=category_columns)

,created_at,actual_delivery_time,total_items,subtotal,num_distinct_items,min_item_price,max_item_price,total_onshift_dashers,total_busy_dashers,total_outstanding_orders,...,store_primary_category_vegetarian,store_primary_category_vietnamese,order_protocol_1.0,order_protocol_2.0,order_protocol_3.0,order_protocol_4.0,order_protocol_5.0,order_protocol_6.0,order_protocol_7.0,order_protocol_NaN
0,2015-02-06 22:24:17,2015-02-06 23:27:16,4,3441,4,557,1239,33.0,14.0,21.0,...,0,0,1,0,0,0,0,0,0,0
1,2015-02-10 21:49:25,2015-02-10 22:56:29,1,1900,1,1400,1400,1.0,2.0,2.0,...,0,0,0,1,0,0,0,0,0,0
2,2015-01-22 20:39:28,2015-01-22 21:09:09,1,1900,1,1900,1900,1.0,0.0,0.0,...,0,0,1,0,0,0,0,0,0,0
3,2015-02-03 21:21:45,2015-02-03 22:13:00,6,6900,5,600,1800,1.0,1.0,2.0,...,0,0,1,0,0,0,0,0,0,0
4,2015-02-15 02:40:36,2015-02-15 03:20:26,3,3900,3,1100,1600,6.0,6.0,9.0,...,0,0,1,0,0,0,0,0,0,0
5,2015-01-28 20:30:38,2015-01-28 21:08:58,3,5000,3,1500,1900,2.0,2.0,2.0,...,0,0,1,0,0,0,0,0,0,0
6,2015-01-31 02:16:36,2015-01-31 02:43:00,2,3900,2,1200,2700,10.0,9.0,9.0,...,0,0,1,0,0,0,0,0,0,0
7,2015-02-12 03:03:35,2015-02-12 03:36:20,4,4850,4,750,1800,7.0,8.0,7.0,...,0,0,1,0,0,0,0,0,0,0
8,2015-02-16 00:11:35,2015-02-16 00:38:01,4,4771,3,820,1604,8.0,6.0,18.0,...,0,0,0,0,1,0,0,0,0,0
9,2015-02-18 01:15:45,2015-02-18 02:08:57,2,2100,2,700,1200,2.0,2.0,2.0,...,0,0,1,0,0,0,0,0,0,0
10,2015-02-02 19:22:53,2015-02-02 20:09:19,4,4300,4,1200,1500,1.0,1.0,1.0,...,0,0,0,0,0,1,0,0,0,0
11,2015-02-16 04:19:33,2015-02-16 06:34:00,2,2200,2,600,1600,3.0,3.0,4.0,...,0,0,1,0,0,0,0,0,0,0
12,2015-02-07 01:34:31,2015-02-07 02:17:14,1,1900,1,1900,1900,6.0,3.0,3.0,...,0,0,1,0,0,0,0,0,0,0
13,2015-01-25 01:50:51,2015-01-25 02:28:53,4,4986,4,699,2362,16.0,6.0,9.0,...,0,0,0,0,0,1,0,0,0,0
14,2015-02-12 03:36:46,2015-02-12 04:14:39,1,1525,1,1525,1525,5.0,6.0,8.0,...,0,0,1,0,0,0,0,0,0,0
15,2015-01-27 02:12:36,2015-01-27 03:02:24,2,3620,2,1425,2195,5.0,5.0,7.0,...,0,0,1,0,0,0,0,0,0,0
16,2015-02-06 00:42:42,2015-02-06 02:10:29,3,4475,3,925,1825,4.0,1.0,1.0,...,0,0,1,0,0,0,0,0,0,0
17,2015-02-08 02:04:17,2015-02-08 03:27:13,3,4375,3,1325,1625,6.0,4.0,3.0,...,0,0,1,0,0,0,0,0,0,0
18,2015-01-31 04:35:54,2015-01-31 05:47:30,2,3150,2,1425,1725,4.0,9.0,12.0,...,0,0,1,0,0,0,0,0,0,0
19,2015-01-31 02:21:23,2015-01-31 03:11:42,2,950,2,150,700,24.0,24.0,26.0,...,0,0,1,0,0,0,0,0,0,0
20,2015-01-31 23:45:12,2015-02-01 00:14:05,5,1285,3,150,400,12.0,13.0,11.0,...,0,0,1,0,0,0,0,0,0,0
21,2015-02-17 03:13:20,2015-02-17 04:00:31,4,5800,4,700,2000,19.0,19.0,30.0,...,0,0,1,0,0,0,0,0,0,0
22,2015-02-15 01:26:20,2015-02-15 02:16:07,2,2800,2,1200,1600,21.0,17.0,16.0,...,0,0,1,0,0,0,0,0,0,0
23,2015-02-02 05:27:49,2015-02-02 07:05:09,7,14900,5,1200,3900,8.0,11.0,11.0,...,0,0,1,0,0,0,0,0,0,0
24,2015-02-16 02:21:20,2015-02-16 03:54:14,3,3400,3,1400,2100,22.0,21.0,39.0,...,0,0,1,0,0,0,0,0,0,0
25,2015-02-13 01:01:58,2015-02-13 01:40:09,3,3800,3,700,1600,16.0,9.0,7.0,...,0,0,1,0,0,0,0,0,0,0
26,2015-01-24 02:01:20,2015-01-24 02:46:13,1,1800,1,1800,1800,27.0,25.0,24.0,...,0,0,1,0,0,0,0,0,0,0
27,2015-02-10 04:36:39,2015-02-10 05:20:37,4,5800,4,700,2000,13.0,16.0,27.0,...,0,0,1,0,0,0,0,0,0,0
28,2015-01-26 02:09:48,2015-01-26 02:47:22,3,3800,3,800,1800,21.0,18.0,20.0,...,0,0,1,0,0,0,0,0,0,0
29,2015-02-07 01:44:26,2015-02-07 02:48:06,1,1800,1,1800,1800,22.0,21.0,20.0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197397,2015-02-13 21:07:10,2015-02-13 21:48:05,2,1618,1,649,649,27.0,25.0,25.0,...,0,0,0,0,0,1,0,0,0,0
197398,2015-02-18 02:56:01,2015-02-18 03:53:53,4,2274,4,345,675,55.0,52.0,66.0,...,0,0,0,0,0,1,0,0,0,0
197399,2015-02-09 22:05:33,2015-02-09 23:09:41,7,2863,4,329,505,16.0,16.0,15.0,...,0,0,0,0,0,1,0,0,0,0
197400,2015-02-06 19:35:47,2015-02-06 20:33:29,2,1401,2,691,755,37.0,27.0,39.0,...,0,0,0,0,0,1,0,0,0,0
197401,2015-02-02 21:48:55,2015-02-02 22:44:04,2,1049,2,300,669,23.0,26.0,37.0,...,0,0,0,0,0,1,0,0,0,0
197402,2015-01-28 03:15:02,2015-01-28 04:01:10,3,1940,3,339,499,48.0,48.0,55.0,...,0,0,0,0,0,1,0,0,0,0
197403,2015-02-05 21:12:07,2015-02-05 21:47:29,1,649,1,649,649,24.0,27.0,28.0,...,0,0,0,0,0,1,0,0,0,0
197404,2015-01-26 20:11:34,2015-01-26 20:55:36,4,1546,3,369,399,30.0,30.0,31.0,...,0,0,0,0,0,1,0,0,0,0
197405,2015-02-06 00:54:20,2015-02-06 01:52:32,7,3438,5,159,649,20.0,21.0,24.0,...,0,0,0,0,0,1,0,0,0,0
197406,2015-02-09 21:01:27,2015-02-09 21:38:08,1,649,1,649,649,26.0,19.0,21.0,...,0,0,0,0,0,1,0,0,0,0
197407,2015-01-27 04:55:25,2015-01-27 05:24:39,2,1468,2,639,669,15.0,14.0,13.0,...,0,0,0,0,0,0,1,0,0,0
197408,2015-01-22 02:06:18,2015-01-22 02:49:17,6,2042,4,145,499,40.0,42.0,62.0,...,0,0,0,0,0,1,0,0,0,0
197409,2015-01-22 03:27:08,2015-01-22 04:03:18,1,719,1,639,639,53.0,39.0,42.0,...,0,0,0,0,0,1,0,0,0,0
197410,2015-02-09 20:32:27,2015-02-09 21:09:10,1,437,1,497,448,36.0,26.0,27.0,...,0,0,0,0,0,1,0,0,0,0
197411,2015-02-02 17:50:23,2015-02-02 18:12:57,2,1297,2,369,639,5.0,6.0,7.0,...,0,0,0,0,0,1,0,0,0,0
197412,2015-02-10 23:43:08,2015-02-11 00:47:24,1,674,1,345,345,10.0,11.0,12.0,...,0,0,0,0,0,1,0,0,0,0
197413,2015-01-24 01:33:11,2015-01-24 02:02:03,1,669,1,669,669,56.0,45.0,45.0,...,0,0,0,0,0,1,0,0,0,0
197414,2015-02-03 02:07:26,2015-02-03 04:22:00,5,2325,5,307,610,48.0,44.0,66.0,...,0,0,0,0,0,1,0,0,0,0
197415,2015-02-07 03:13:16,2015-02-07 04:29:49,3,1952,3,345,505,69.0,69.0,94.0,...,0,0,0,0,0,1,0,0,0,0
197417,2015-01-29 01:41:57,2015-01-29 02:40:45,3,1398,3,200,639,38.0,38.0,49.0,...,0,0,0,0,0,1,0,0,0,0
197418,2015-01-30 20:50:23,2015-01-30 22:24:38,2,1528,2,639,729,26.0,29.0,34.0,...,0,0,0,0,0,1,0,0,0,0
197419,2015-01-26 21:25:12,2015-01-26 22:21:22,1,809,1,729,729,20.0,18.0,18.0,...,0,0,0,0,0,1,0,0,0,0
197420,2015-02-18 02:16:04,2015-02-18 03:12:36,3,2352,3,499,685,49.0,49.0,65.0,...,0,0,0,0,1,0,0,0,0,0
197421,2015-01-30 03:35:01,2015-01-30 04:42:19,2,979,2,145,339,NaN,NaN,NaN,...,0,0,0,0,0,1,0,0,0,0
197422,2015-01-31 19:48:15,2015-01-31 20:27:39,7,2445,3,145,585,23.0,24.0,24.0,...,0,0,0,0,0,1,0,0,0,0
197423,2015-02-17 00:19:41,2015-02-17 01:24:48,3,1389,3,345,649,17.0,17.0,23.0,...,0,0,0,0,0,1,0,0,0,0
197424,2015-02-13 00:01:59,2015-02-13 00:58:22,6,3010,4,405,825,12.0,11.0,14.0,...,0,0,0,0,0,1,0,0,0,0
197425,2015-01-24 04:46:08,2015-01-24 05:36:16,5,1836,3,300,399,39.0,41.0,40.0,...,0,0,0,0,0,1,0,0,0,0
197426,2015-02-01 18:18:15,2015-02-01 19:23:22,1,1175,1,535,535,7.0,7.0,12.0,...,0,0,1,0,0,0,0,0,0,0
197427,2015-02-08 19:24:33,2015-02-08 20:01:41,4,2605,4,425,750,20.0,20.0,23.0,...,0,0,1,0,0,0,0,0,0,0

In [104]:
final_raw_data = one_hot_df.drop(columns=category_columns)
final_raw_data.shape

(196895, 6845)

In [ ]:
one_hot_df